a9s/common/schematron/flat/flat-hub.sch.xml

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron" 
  xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
  xmlns:transpect="http://www.le-tex.de/namespace/transpect"  
  queryBinding="xslt2">

  <ns prefix="idml2xml" uri="http://www.le-tex.de/namespace/idml2xml" />
  <ns prefix="dbk" uri="http://docbook.org/ns/docbook" />
  <ns prefix="css" uri="http://www.w3.org/1996/css"/>
  <ns prefix="hub" uri="http://www.le-tex.de/namespace/hub" />
  <ns prefix="tei" uri="http://www.tei-c.org/ns/1.0" />
  <ns prefix="transpect" uri="http://www.le-tex.de/namespace/transpect" />
 
  <let name="base-dir" value="/*/dbk:info/dbk:keywordset[@role eq 'hub']/dbk:keyword[@role eq 'source-dir-uri']"/>
  <let name="fake-table-invisible-footnote" value="'Tabellenfussnote_ZifferUnsichbar'"/>
  <let name="fake-table-manual-footnote-in-table" value="'Tabellenfussnote_unecht'"/>
  <ns prefix="schematron" uri="http://purl.oclc.org/dsdl/schematron" />
  
  <pattern id="flat-hub_multi_para_heading">  
    <rule context="dbk:para[matches(@role, 'Headline-3')][not(matches(., '^\s*$'))]">
      <let name="role" value="replace(@role, '^(.+?)(_-_.+)?$', '$1')"/>
      <report test="replace(following-sibling::*[1]/self::dbk:para/@role, '^(.+?)(_-_.+)?$', '$1') = $role" id="multi_para_heading" role="error"
        > <!--  diagnostics="multi_para_heading_de" -->
        <span class="srcpath"><xsl:value-of select="concat($base-dir, @srcpath, ' ', $base-dir, following-sibling::*[1]/@srcpath)"/></span>
        <span class="category">Typesetting convention</span>
        <span class="issue" xmlns="http://www.w3.org/1999/xhtml">Multiple paragraph heading</span>
        If this is a heading with more than one paragraphs please use a linebreak instead of a newline. Otherwise two headings are created.</report>
    </rule>
  </pattern>
  <diagnostics>
  <diagnostic id="multi_para_heading_de" xml:lang="de">
    <span class="category">Satzkonventionen</span>
    <span class="issue" xmlns="http://www.w3.org/1999/xhtml">Überschrift aus mehreren Absätzen</span>
    Besteht die Überschriften aud mehreren Absätzen? Bitte ggf. harten Zeilenumbruch verwenden, da sonst zwei Überschriften hintereinander generiert werden, die z.B. 
    jeweils als eigener Eintrag in das Inhaltsverzeichnis des EPUBs übernommen werden.
    <br xmlns="http://www.w3.org/1999/xhtml"/>
    <br xmlns="http://www.w3.org/1999/xhtml"/>
    Falls es sich um verschiedene Überschriftenbestandteile handelt, wie Untertitel, Autor oder eine alleinstehende Kapitelnummer, 
    sollte unbedingt auf die dafür zur Verfügung gestellten Formate zurückgegriffen werden.
  </diagnostic>
  </diagnostics>
</schema>